h1{
    text-align: center;
    padding: 12px;
}

table{
    width:100%;
}

.navbar{
   height: 60px; 
   background-color: #ff9900;
} 

.logout{
    text-align: right;
    width:50%;
}
.logout-button{
    margin-bottom: 5px;
    width:75px;
    padding: 4px;
}

.title{
    color: white;
    width:50%
}
