<nav class="navbar navbar-dark">
    <div class="title">
        <h4>ReviewApp</h4>
    </div>
    <div class="logout">
        <button class="amplify-form-button logout-button" (click)="logOut() ">Logout</button>
    </div>
</nav>

<h1>NY - Restaurant List</h1>
<div class="search">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a restaurant">
</div>
<div>
    <table>
        <tbody>
            <tr *ngFor="let restaurant of restaurants | filter:searchText">
                <td>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{restaurant.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{restaurant.address}}</h6>
                            <p class="card-text">{{restaurant.city+", "+restaurant.state+" - "+restaurant.postal_code}}
                            </p>
                            <div>
                                <ngbd-modal-basic class="ngbd-modal-basic" restId={{restaurant.id}}></ngbd-modal-basic>
                                <read-review-modal class="read-review-modal" restId={{restaurant.id}}>
                                </read-review-modal>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
